 <body ng-app="starter" class="platform-ios platform-cordova platform-webview">
  <ion-view title="About Us">
  <ion-content style="background:rgb(221,233,236);">
  
  <div class="list">
    <a class="item item-avatar" >
     <img src="../img/messiry.jpg">
     <h2>Mostafa El-Messiry</h2>
     <p>"Shit, masaletsh el dohr"</p>
   </a>
       <a class="item item-avatar" >
     <img src="../img/hatem.jpg">
     <h2>Hatem Morgan</h2>
     <p>"Enta bete3mel eh ya tag?"</p>
   </a>
       <a class="item item-avatar" >
     <img src="../img/tag.jpg">
     <h2>Omar Tag</h2>
     <p>"da Systematic ya ged3an"</p>
   </a>
       <a class="item item-avatar" >
    <img src="../img/abozeed.jpg">
     <h2>Mohamed Abouzeid</h2>
     <p>"Makarona forn mn beta3et seti w setak"</p>
   </a>
       <a class="item item-avatar" >
    <img src="../img/maha.jpg">
     <h2>Maha Elleci</h2>
     <p>"Ana msh motafa2la ya ged3an"</p>
   </a>
       <a class="item item-avatar" >
    <img src="../img/ali.jpg">
     <h2>Aly Ameen</h2>
     <p>"Howa aly fein ya ged3an?"</p>
   </a>
       <a class="item item-avatar" >
     <img src="../img/nazih.jpg">
     <h2>Ahmed Nazih</h2>
     <p>"Momken neshoof hanakol eh?"</p>
   </a>
       <a class="item item-avatar" >
     <img src="../img/nadin.jpg">
     <h2>Nadin Hossam El Din</h2>
     <p>"Yalla n drop out"</p>
   </a>


 </div>




</ion-content>

</ion-view>
</body>