<link href="../css/offers.css" rel="stylesheet">




<ion-view class="body">

<ion-nav-title>
<h id="title"> Special Offers </h>
</ion-nav-title>

<br><br><br>
<div id="offercard" class="list card">

  <div class="item item-avatar">
    <img src="./img/us.png-c200">
    <h2 id="country">Arizona</h2>
    <p>From Januray 8th to 30th March</p> 

    <div>  
    <p id="price"><i class="icon ion-cash"></i>  for ONLY 150$</p>
    </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="./img/arizona.jpg">
    <p>
      Shop at unique boutiques, hit the links on world-renowned courses or soak in the great outdoors, you’ll find your vacation for less here. Browse our great travel deal packages to start planning your own Arizona adventure.Enjoy one of a kind desert treks and you never want to miss the skywalk in the grand canyon! MAHA LOVES IT!
 
    </p>
    <p>
     <div class="button-bar">
  <a class="button" ng-click="prev()">Previous</a>
  <a class="button" ng-click="next()">Next</a>
</div>
    </p> 
    <h id="check">Check available flights for more info</h>
  </div>

</div> 

</ion-view>