      <link href="../css/offers.css" rel="stylesheet">




<ion-view class="body">

<ion-nav-title>
<h id="title"> Special Offers </h>
</ion-nav-title>
<div id="offercard" class="list card">

  <div class="item item-avatar">
    <img src="./img/berlinicon.png">
    <h2 id="country">Berlin</h2>
    <p>From June 5th to 29th October</p> 

    <div>  
    <p id="price"><i class="icon ion-cash"></i>  for ONLY 200$</p>
    </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="./img/berlin.jpg">
    <p>
      Fly to Berlin. The airport has an excellent train station. Are you adventurous enough to take the first departing train you see, with zero planning, and jump on it until you reach the countryside? Germany has masses of empty space and woodland so it's usually easy to find a peaceful spot. AirFrance offers you this fligh with a NOT TO MISS price! Get your seat now.
 
    </p>
    <p>
     <div class="button-bar">
  <a class="button" ng-click="prev()">Previous</a>
  <a class="button" ng-click="next()">Next</a>
</div>
    </p> 

    <h id="check">Check available flights for more info</h>
  </div>

</div> 

</ion-view>