 <!doctype html>

 <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <!-- <link href="css/style.css" rel="stylesheet"> -->

    <!-- ionic/angularjs js -->
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script src="../lib/ionic/js/angular/angular-resource.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="../js/core.js"></script>
    <!-- <script src="js/controllers/mainCtrl.js"></script> -->
    <!-- <script src="js/controllers/flightsCtrl.js"></script> -->
    <!-- <script src="js/services/flightsSrv.js"></script> -->
  </head>

  <ion-popover-view>
    <ion-content>
 
  <div class="item item-text-wrap">
   <div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"><button class=" button button-clear ion-close-round"></button></div>
</div>
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
</ion-content>
</ion-popover-view>
