
<link href="../css/offers.css" rel="stylesheet">


<ion-view class="body">

<ion-nav-title>
<h id="title"> Special Offers </h>
</ion-nav-title>


<br><br><br>

<div id="offercard" class="list card">

  <div class="item item-avatar">
    <img src="./img/nepal.png">
    <h2 id="country">Nepal</h2>
    <p>From May 16th to 12th August</p> 

    <div>  
    <p id="price"><i class="icon ion-cash"></i>  for ONLY 100$</p>
    </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="./img/nepalmount.jpg">
    <p>
      With eight of the world’s ten highest peaks.The Everest area is justifiably famous, not only for its proximity to the world's highest mountain but also for its friendly Sherpa people.Enjoy the ultimate trek in Nepal,  visit the Everest area and picturesque Gokyo Lakes, trek through Sherpa villages surrounded by the inspiring Himalaya mountains. MAHA LOVES IT!!. Get your seat now.
 
    </p>
    <p>
     <div class="button-bar">
  <a class="button" ng-click="prev()">Previous</a>
  <a class="button" ng-click="next()">Next</a>
</div>
    </p>  
    <h id="check">Check available flights for more info</h>
  </div>

</div> 

</ion-view>