  
<link href="../css/payment.css" rel="stylesheet">
  <ion-view title="Payment">

      <!-- <ion-header-bar id="topBar" class="bar-royal wow fadeInDown" data-wow-duration="2s">
      
        <div id="logo"><img src="./img/logowhite.png"></div>

      </ion-header-bar> -->

<div id="passengerInfoAbove"  data-wow-duration="2s">
      
       <h1>Payment Information</h1>
      </div>
      
<ul class="list wow fadeInRight" data-wow-duration="2s">

  <li class="item item-toggle">
     Visa
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Master Card
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>

<div id="form" class="list wow fadeInUp" data-wow-duration="2s">
<button ng-click="submitPaymentForm()">Conifirmation</button>
  <label id="carholder" class="item item-input item-floating-label">
    <span class="input-label">CardHolderName</span>
    <input ng-model="holderN" type="text" placeholder="Card Name">
  </label>
  <label id="cardNumber" class="item item-input  item-floating-label">
    <span class="input-label">Card Number</span>
    <input ng-model="CardN" type="number" placeholder="Card Number">
  </label>
   <label id="CVV" class="item item-input item-floating-label">
    <span class="input-label">CVV</span>
    <input ng-model="CVV" type="number" placeholder="CVV">
  </label>
  
   <label  id="expiryDate2"class="item item-input item-stacked-label">
    <span class="input-label">Expiry Date</span>
    <input ng-model="expirymonth" type="month" placeholder="Expiry Date">
  </label>
   
  <label  id="expiryDate"class="item item-input item-stacked-label">
    <span class="input-label">Expiry Date</span>
    <input ng-model="expiryyear" type="year" placeholder="Expiry Date">
  </label>
  
</div>

</div>
 


</ion-view>

