
    <link href="../css/personalInformation.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    
 
  

<ion-view id="page" title="Passenger Information">

      
<ion-nav-title id="passengerInfoAbovee">
      <h3 ng-model="tag">Passenger {{current+1}} Information</h3>
      <p style="font-size:10px; margin-top :-47px;">type:{{passType}}</p>
      </ion-nav-title>
     <br>
     <br>

  
<div id="form" class="list">



      <label id="firstName" class="item item-input item-stacked-label">
      <div>
    <i style="font-size: 2.10em; display: inline-block;margin-right: 5px;" class="icon ion-person"></i>
    <input type="text" placeholder="First Name" style="display: inline-block;"  ng-model="firstName">
    </div>
  </label>







    <label id="lastName" class="item item-input item-stacked-label">
      <div>
    <i style="font-size: 2.10em; display: inline-block;margin-right: 5px;" class="icon ion-ios-personadd"></i>
    <input type="text" placeholder="Last Name" style="display: inline-block;"  ng-model="lastName">
    </div>
  </label>



    <label id="age" class="item item-input item-stacked-label" ng-show="!ageShow">
      <div>
    <i style="font-size: 2.10em; display: inline-block;margin-right: 5px;" class="icon ion-man"></i>
    <input type="number" placeholder="Child age" min="2" max="12" style="display: inline-block;"  ng-model="age">
    </div>
  </label>

      <label id="age" class="item item-input item-stacked-label" ng-show="ageShow">
      <div>
    <i style="font-size: 2.10em; display: inline-block;margin-right: 5px;" class="icon ion-man"></i>
    <input type="number" placeholder="Adult age"  min="13" max="99" style="display: inline-block;"  ng-model="age">
    </div>
  </label>



      <label class="item item-icon-left">
          Expiry Date
          <input type="date" ng-model="expiryDate" placeholder="Expiry Date">
          <i class="icon ion-android-calendar"></i>
         </label>



    <label id="passportNumber" class="item item-input item-stacked-label">
      <div>
    <i style="font-size: 2.10em; display: inline-block;margin-right: 5px;" class="icon ion-map"></i>
    <input type="number" placeholder="Passport Number" style="display: inline-block;"  ng-model="passportnum">
    </div>
  </label>
<label class="item item-icon-left">
          Issue Date
          <input type="date" ng-model="issueDate" placeholder="Issue Date">
          <i class="icon ion-android-calendar"></i>
         </label>




   <label id="Nationality" class="item item-input item-stacked-label">
      <div>
    <i style="font-size: 2.10em; display: inline-block;margin-right: 5px;" class="icon ion-earth"></i>
    <input type="text" placeholder="Nationality" style="display: inline-block;"  ng-model="Nationality">
    </div>
  </label>
</div>

<br>


<div style="text-align:center;">
 <button class="button button-assertive submitButton" ng-show="nextpassShow" ng-click="nextpass()">Next Pass</button>
 </div>
 <div style="text-align:center;">
 <button class="button button-assertive " ng-show="!nextpassShow" ng-click="confirm()">Confirm</button>
 </div>

</div>
 
</ion-view>
