
  <link href="../css/timetable.css" rel="stylesheet">

  
  <ion-view title="Timetable">


      <ion-content style="background:rgb(221,233,236);" >
	

      <div class="list" style="background:rgb(221,233,236);margin:0">
<div ng-repeat="flight in arr | limitTo:limit">
    <a class="item item-thumbnail-left" >

      <img onerror="this.src='../img/transport.png';" ng-src="{{flight.img}}" >
      <h2>{{flight.origin}} -> {{flight.destination}}</h2>
      <p> ARV : {{flight.arrivalDateTime}} </p>
      <p>DEP : {{flight.departureDateTime}}</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> {{flight.currency}} {{flight.cost}}  </p><p style="color:white;display: inline-block;">_________________</p><p style="display: inline-block;">  {{flight.status}} </p>
       </div>
      <p> {{flight.class}} </p>
    </a>

    </div>
    <br><br>
   
   <ion-infinite-scroll on-infinite="loadMore()" distance="10px"></ion-infinite-scroll>
   <br><br>
  </div>
</ion-content>

    </ion-view>
