<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <link href="css/timetable.css" rel="stylesheet">

    

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" class="platform-ios platform-cordova platform-webview">
  <ion-view title="Timetable">
    <ion-pane>
      <br>
      <ion-header-bar style="background:rgb(17,36,60);padding-top:10px;">
        <img id="franceLogo" src="./img/logowhite.png" style="height:20px;margin:0 auto;">
      </ion-header-bar>

      <ion-content style="background:rgb(221,233,236);">
	

      <div class="list">

    <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0s">
      <img src="../img/CDG.jpg" >
      <h2>France (CDG) -> Egypt (CAI)</h2>
      <p> Mon Apr 25 2016 </p>
      <p>10:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $400  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Flying </p>
       </div>
      <p> Economy </p>
      
    </a>
    <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.2s">
      <img src="./img/LHR.jpg">
      <h2>London (LHR) -> Paris (CDG)</h2>
      <p> Mon Apr 25 2016 </p>
      <p>01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Taking off </p>
       </div>
      <p> Business </p>

      
    </a>

     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.4s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.6s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.8s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
    
     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="1s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
    

    

</div>

      </ion-content>
    </ion-pane>
    </ion-view>
  </body>

</html>
