     <link href="css/timetable.css" rel="stylesheet">
  
  <ion-view title="Timetable">


      <ion-content style="background:rgb(221,233,236);">
	

      <div class="list" style="background:rgb(221,233,236);margin:0">

    <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0s">
      <img src="../img/CDG.jpg" >
      <h2>France (CDG) -> Egypt (CAI)</h2>
      <p> Mon Apr 25 2016 </p>
      <p>10:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $400  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Flying </p>
       </div>
      <p> Economy </p>
      
    </a>
    <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.2s">
      <img src="./img/LHR.jpg">
      <h2>London (LHR) -> Paris (CDG)</h2>
      <p> Mon Apr 25 2016 </p>
      <p>01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Taking off </p>
       </div>
      <p> Business </p>

      
    </a>

     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.4s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.6s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="0.8s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
    
     <a class="item item-thumbnail-left wow fadeInLeft" href="#" data-wow-delay="1s">
      <img src="./img/THF.jpg">
      <h2>Berlin (THF) -> Paris (CDG)</h2>
      <p>   Mon Apr 25 2016 </p>
      <p> 01:35:02 GMT+0200 (EET)</p>
      <div style="display: inline-block;">
       <p  style="display: inline-block;"> $740  </p><p style="color:white;display: inline-block;">_____________________</p><p style="display: inline-block;">  Delayed </p>
       </div>
      <p> Business </p>

      
    </a>
    

    

</div>

      </ion-content>
    </ion-view>
