body
{

	background-color: rgb(221,233,236);
}
#topBar
{

	background: rgb(17,34,60);
	height:15%;
	text-align: center;
	box-shadow: -2px 1px 10px black;
	border:none;
}
#logo
{
	margin-left: 20%;
	margin-top: 8%;

}
#form
{
	
	margin-top: 29%;
	padding: 3%;

}
#passengerInfoAbove
{
	background: rgb(158,52,49);
	height:15%;
	text-align: center;
	box-shadow: -2px 1px 10px black;
	border:none;
	margin-top:0;
}
#passengerInfoAbove h1
{
		font-size: 30px;
		font-family: Lucida Console;
		color : white;
		width: 800px;
		margin-top: 20px;
		margin-left: 20px;
	/*font-weight: bold;*/
}
.submitButton
{
	margin-top:0px;
	
}