.viewflights{
  background:white;
  width:65%;
  height:150%;
  position: absolute;
  top:20%;
  left:30%;
   border-radius: 5px;  
  box-shadow: -10px -10px 40px grey;
  /*box-shadow: -12px 12px 70px black;*/
  margin: 0 auto;

}

.bookbody {
  height:auto;
}

.headertitle{
  background-color: rgb(17,37,60);
  color:white;
  height:100%;
  padding-left:15%;
  padding-bottom:1.78%;
  font-family: 'Open Sans Condensed', arial, sans;
  border-radius: 5px;

}
.headertitle h2 
{
  
  margin-top:1%;
}
body {
  background:rgb(221,233,237);
}

#fixAnimation
{
  width:70%;
  height:100%;

    overflow: hidden;
  position: absolute;
  top:0%;
  left:1.5%;
  z-index: -100;
}

#partialDiv
{
    background-image: url(../images/flightsBig.png);
      background-repeat: no-repeat;
  width:40%;
  height:20%;
  position: fixed;
  top:40%;
  left:4%;
}
#partialDiv2
{
  background-image: url(../images/pw.png);
  background-repeat: no-repeat;

  width:50%;
  height:30%;
  position: fixed;
 
   top:60%;
  left:8%;

}
#partialDiv3
{
background-image: url(../icons/payment.png);
  background-repeat: no-repeat;
  width:40%;
  height:20%;
  position: fixed;
  top:79%;
  left:8%;

}

