
  


html{
  height: 100%;
  
 
}


body

{
height: 100%;
width: 100%;
}
.bookButton {
   
  
    border: none;
    padding-left:10%;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: rgb(17,37,60); 
    border: 2px solid rgb(17,37,60);
    border-radius: 9px;

}

.bookButton:hover {
     background-color: rgb(17,37,60);
    color: red;
}

.bookButton:focus {
     background-color: rgb(17,37,60);
    color: red;
}


/*begin table*/
div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}
.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/
.tx{
  margin: 0 auto;
  width:85%;

}
.sp .table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
.sp th {
  color:#D5DDE5;
  background:rgb(152,58,49);
      border-bottom:0px solid #9ea7af;
  font-size:23px;
  font-weight: 100;
  padding-right:24px;
  padding-left: 24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.sp1 th {
  color:#D5DDE5;
  background:rgb(17,37,60);
      border-bottom:4px solid #9ea7af;
  font-size:23px;
  font-weight: 100;
  padding-right:24px;
  padding-left: 24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.sp th:first-child {
  border-top-left-radius:3px;
}
 
.sp th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.sp tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 

 
.sp tr:first-child {
  border-top:none;
}

.sp tr:last-child {
  border-bottom:none;
}
 
.sp tr:nth-child(odd) td {
  background:#EBEBEB;
}
 


.sp tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.sp tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.sp td {
  background:#EBEBEB;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  
}

.sp td:last-child {
  border-right: 0px;
}

.sp th.text-left {
  text-align: left;
}

.sp th.text-center {
  text-align: center;
}

.sp th.text-right {
  text-align: right;
}

.sp td.text-left {
  text-align: left;
}

.sp td.text-center {
  text-align: center;
}

.sp td.text-right {
  text-align: right;
}


/*end table*/

/*>>>>>>>>>RADIOBUTTON BEGIN<<<<<<<<<*/
/* hide input */
input.radio:empty {
  margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em; 
  color: red;
  background-color: rgb(17,37,60);
}

input.radio:checked ~ label {
  color: #777;
}

/*>>>>>>>>>RADIOBUTTON BEGIN<<<<<<<<<*/



body {
    height: 100%;
  cursor:url("../icons/sky.png"), auto;
    overflow-x:hidden;
}

.chooseflight {
  margin-top: -30%;
}

#main
{
  height: 100%;
background-color: rgba(2,2,2,.56);
  
}
 
#nav {
 background: rgb(17,37,60);
  
  color:red;
  width:100%;
  height:8%;
  position:fixed;
   z-index: 5;
} 
#navBarStyle
{
  position: absolute;
  top:-5%;
  left:60%;
}
#logo
{
  position:relative;
  margin-top: 10%;
}
#main
{
  height:100%;
  padding: 0px;

}
/*Start section ImageTop*/
#imageHome
{
  width:100%;
  height:100%;
}
#topImage
{
  
  width: 100%;
  height:100%;
   -webkit-transition: background 1.5s linear;
-moz-transition: background 1.5s linear;
-o-transition: background 1.5s linear;
-ms-transition: background 1.5s linear;
transition: background 1.5s linear;

  
}


#welcomeTextDown
{
  color:#EEE;
  position:absolute;
  top:41%;
  left:55%;
  font-size:48px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;


 }


 h5
 {
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(120, end); 
  color:#EEE;
  position:absolute;
  top:40%;
  left:55%;
  font-size:20px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;

}
#span2
{
   color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
  color:#EEE;
  position:absolute;
  top:40%;
  left:15%;
  font-size:20px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  animation: blink 1s infinite;
  height: 100%;
}
@keyframes blink{
  to{opacity: .0;}
}



@keyframes type{ 
  from { width: 0; } 
} 

 


#scroll
{
   
  position: absolute;
  top:90%;
  left: 0%;
  font-size: 40px;
  color:white;
  
}
#paragraphScroll
{
  position: absolute;
  left:42%;
  top:83%;
  font-size: 20px;
  color:white;

}

/*End section ImageTop*/

/*Start section History*/
/*
  border-width:5px; 
    border-right-style:solid;
     border-color: black;
 */
.transformable {
    -webkit-transition: left 100ms linear;
    -moz-transition: left 100ms linear;
    -o-transition: left 100ms linear;
    -ms-transition: left 100ms linear;
    transition: left 100ms linear;

}


.history
{
  height:100%;
  width:1000%;
  position: relative;
  top:0%;
  margin-top: -4.5%;
  left:1%;
  overflow: hidden;
  z-index: -30;

}



#data2
 {
  background-color: rgba(2,2,2,0.6);
  width: 100%;
  position: relative;
  top:1%;
  height:100%;


 }
.row2
{
  height: 100%;
  

}
.cont2
{
height: 100%;
width:100%;

}
.historyDivs
{
  
  height:91%;
  width:2.5%;

  position: relative;
  left:0%;
  margin-top:0.3%;
  padding:0%;


}
#beginning
{
  background: url(../images/histoire01.jpg) no-repeat center center;
  
  text-align: bottom;

}

#takeOff
{
  background: url(../images/histoire02.jpg) no-repeat center center;
  
}

#flying
{
  background: url(../images/histoire03.jpg) no-repeat center center;
  
}

#jetAge
{
  background: url(../images/histoire04.jpg) no-repeat center center;
  
}
#maturity
{
  background: url(../images/histoire05.jpg) no-repeat center center;
  background-size: 150% 100%;
  position: absolute;
  width:2.7%;
  top:0%;
  left:10%;
  
}

#renewal
{
  background: url(../images/histoire06.jpg) no-repeat center center;
  position: absolute;
width:2.5%;
  top:0%;
  left:12.7%;

}

#worldLeader
{
  background: url(../images/histoire07.jpg) no-repeat center center;
  background-size: 250% 100%;
  background-position: 30% 0;
  width:2.5%;4
    position: absolute;
  top:-100%;
  left:15.1%;
}

#beginningText
{
  color: #eee;

  font-family:sans-serif;
  border-radius: 5px;
  width:60%;
  height:40%;
  text-align: center;
  position:relative;
  top: 60%;
  left:20%;


}
#takeOffText
{
  color: #fff;
  
 
  border-radius: 5px;
  width:60%;
  height:40%;
  text-align: center;
  position:relative;
  top: 60%;
  left:20%;
}
#flyingText
{
  color:#fff;

    border-radius: 5px;
  width:60%;
  height:40%;
  text-align: center;
  position:relative;
  top: 60%;
  left:20%;
}
#jetAgeText

{
  color: #fff;
  
 
  border-radius: 5px;
  width:60%;
  height:40%;
  text-align: center;
  position:relative;
  top: 60%;
  left:20%;
}
#maturityText
{
  color:#fff;
  
    border-radius: 5px;
    width:60%;
  height:40%;
  text-align: center;
  position:relative;
  top: 60%;
  left:20%;
}
#renewalText
{

  color: #fff;
  
  
  border-radius: 5px;
  width:60%;
  height:40%;
  text-align: center;
  position:relative;
  top: 60%;
  left:20%;
}

#worldLeaderText
{
color:#fff;

    border-radius: 5px;
    width:60%;
  height:40%;
  text-align: center;
  position:relative;
  top: 60%;
  left:20%;
}

/*End section History*/

/*Start section Statistics*/
 .stats
 {

  
  background : url(../images/cityNew.jpg) no-repeat center center fixed;
  background-size: 100% 102%;
background-position: -80% 10%;
  position:relative;
  top:-9.2%;
  overflow: hidden;

 }
 #data
 {
  background-color: rgba(2,2,2,0.7);
  width: 100%;
  height:140%;
 }

 #statsText
 {
  color:#EEE;
  font-weight: bold;
 }
 .icons
 {
  width:40%;
  height:10%
 }
h3
{
  color:#ccc;
  font-weight: bold;

}
.statsDivs
{
  margin-top: 5%;
}
.statsDivs h5
{
color:#ccc;
  font-weight: bold;
  font-size: 30px;
}
/*End section Statistics*/
.statsDivs span
{
  color:#ccc;
  font-weight: bold;
  font-size: 30px;
}
/*Start section Features*/
h4
{
  color:#ccc;
  font-weight: bold;
  font-size: 30px;

}
  

 #data3
 {
  background-color: rgba(2,2,2,0);
  width: 100%;
  position: relative;
  top:0%;
  height:110%;

 }
 #gameDiv
 {
  background-color:#ccc;
  opacity:0.4;
  height:75%;
  border-radius:5px;
  position:relative;
  left:2%;
 }
 
/*End section Features*/

/* start home-tabling-container */
#home-tabling-container{
  margin-top: 3%;
  width: 40%;
  height: 5%;
  opacity:1;
  position: absolute;
  top:9%;
  left: -1%;
  background-color: rgb(17,36,60);


}

.home-tabling-btn{
background-color: rgb(0, 33, 71);


}
#home-tabling-list{
   float: right;
   color: rgb(212, 159, 0);
   opacity:0.7;

}

.slide-show-image{

  width:100%;
}

#slide-show{
  width: 100%;
  height: 5%;
  
  
}

#bookingForm
{
  
  background-position: 100% -20%;
  background-size: 110% 100%;
  width: 105%;
  height: 1100%;
  
  color:black;
  
 
  overflow-x:hidden; 
  position: absolute;
 
  background: white;

  top:126%;
  left:3%;
}
#bookAFlight
{
  margin-left: 10%;
}
#flightType
{
 position: relative;
 left: 1  0%;
   font-size: 20px;
   width:850px;
}

#closeButton
{
  position:absolute;
  left:92%;
  top:2%;
}
#closeButtonText
{
  position: absolute;
  left:87%;
  top:2%;
}

/*Start Managebooking*/
.margin-top-20{
  margin-top: 20px;
}

.auth h1{
  color:#000!important;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
}
.auth h1 span{
  font-size:21px;
  display:block;

  padding-top: 20px;
}
.auth .auth-box legend{
  color:#000;
  border:none;
  font-weight:300;
  font-size:24px;
  position: relative;
}
.auth red{
  color:#b00;
  border:none;
  font-weight:300;
  font-size:24px;
}
.auth green{
  color:#0f0;
  border:none;
  font-weight:300;
  font-size:24px;
}
.auth .auth-box{
 
  max-width:460px;
  margin:0 auto;
  border:1px solid rgba(255, 255, 255, 0.4);;
  
  margin-top:40px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}
@media(max-width:460px){
  .auth .auth-box{
   margin:0 10px;
 }
}

.auth .auth-box input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #000;
  font-weight:300;
}
.auth .auth-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #000;
  font-weight:300;
}
.auth .auth-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #000;
  font-weight:300;
}
.auth .auth-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #000;
  font-weight:300;
}
.auth span.input-group-addon,
.input-group-btn button{
  border:none;
  
  color:#000!important;
}
.auth form{
    font-weight:300!important;
}
.auth form .btn-default{
   
    border-color:none;
}
.auth form .btn-default:hover{
  
  border-color:none;
}
 input[type="file"] {
  color:#000;
}
.auth form label{
    color:#000;
    font-size:21px;
    font-weight:300;
}

/*Form buttons*/
.auth form .btn{
  background:#00bfff;
  font-size : 18px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.auth form .btn-default{
    color:#fff;

    font-size : 64;
    border-color:none;
}
.auth form .btn-default:hover{
    background:rgba(225, 225, 225, 0.3);
  color:#ffffff;
  background-color: #00aeee;
  border-color:none;

}
.auth form .btn-primary:hover{
    background:rgba(66, 139, 202, 0.3);
}
.auth form .btn-success:hover{
    background:rgba(92, 184, 92, 0.3);
}
.auth form .btn-info :hover{
    background:rgba(91, 192, 222, 0.3);
}
.auth form .btn-warning:hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-danger:hover{
    background:rgba(217, 83, 79, 0.3);
}
.auth form .btn-link{
  border:none;
  color:#fff;
  padding-left:0;
}
.auth form .btn-link:hover{
  background:none;
}



.auth label.label-floatlabel {
  font-weight: 300;
  font-size: 11px;
  color:#fff;
  left:0!important;
  top: 1px!important;
  color:#000000;
}


.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}
#textinput
{
  position: absolute;
  left:10%;
  top:28%;
}
fieldset h1
{
  font-size: 30px;
  position: absolute;
  top:0.5%;
  left:30%;
}
#labelReference
{
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  top:20%;
  left:10%;
}
#singlebutton
{
  position: absolute;
  left:35%;
  top:27%;
}
.form-group
{
  color:black;
  position: absolute;
  top:40%;
  left:10%;
  height: 100%;
}
.groupinformation
{
  position: absolute;
  top:30%;
  width:300px;
}
#btnCancelReservation
{
  position: absolute;
  top:80%;
}
/*End Manage Booking*/
#bookingSection
{
position: relative;
left:35%;
top:1%;
max-height:130%;
padding-bottom: 3%;

}
#bookingForms
{
  width:100%;
  margin-left:-20%;
  margin-top: 3%;

}
.form-style-7{
     
  }
  .form-style-7 h2{
      background: #4D4D4D;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #797979;
      font-size: 18px;
      font-weight: 100;
      padding: 20px;
      margin: -30px -30px 30px -30px;

  }
  .form-style-7 input[type="text"],
  .form-style-7 input[type="date"],
  .form-style-7 input[type="datetime"],
  .form-style-7 input[type="email"],
  .form-style-7 input[type="number"],
  .form-style-7 input[type="search"],
  .form-style-7 input[type="time"],
  .form-style-7 input[type="url"],
  .form-style-7 input[type="password"],
  .form-style-7 textarea,
  .form-style-7 select 
  {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 300%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
          background-color:white;
          border-bottom-color: rgb(152,58,49);
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
     height:40px;
      width: 160px;
    -webkit-transition: border-bottom-color 0.5s ease-in-out;
    transition: border-bottom-color 0.5s ease-in-out;


  }
  .form-style-7 select:focus
  {
     border-bottom-color: rgb(17,37,60);

  }
  .form-style-7 textarea{
      resize:none;
      overflow: hidden;
     background: #eee;

  }
  .form-style-7 input[type="button"], 
  .form-style-7 input[type="submit"]{
      -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      box-shadow: inset 0px 1px 0px 0px #45D6D6;
      border-bottom: 2px solid black;
      background-color: #2CBBBB;
      border: 1px solid #27A0A0;
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      padding: 8px 18px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .form-style-7 input[type="button"]:hover, 
  .form-style-7 input[type="submit"]:hover {
      background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
      background-color:#34CACA;
      border-bottom: 2px solid black;
  }

  .form-style-7 input:focus
  {

      border-bottom-color: rgb(17,34,160);
  -webkit-transition: border-bottom-color 0.5s ease-in-out;
    transition: border-bottom-color 0.5s ease-in-out;
   

  }
#bookBtn
{
  position: absolute;
  top:93.5%;

}
#classStar
{
  color:red;
  position: relative;
  top:52%;
  left:-13%;
}
#timeTable
{
overflow: hidden;
height: 100%;
width:100%;
}

#timeTableShow
{
  height: 100%;
  width:100%;
  overflow: hidden;
}

#table
{
  width:100%;
  color:black;
  margin-left: -55px;
  margin-top: -150px;

}

#timeTableSection2
{
position: relative;
left:9%;
max-height:100%;

font-weight: bold;

   
}
#timeTableSection
{
position: relative;
left:9%;
height:auto;
width:90%;
color:black;
font-weight: bold;

}
#table2
{
  width:70%;
  color:black;
  
}
#timeTableScroll
{
  height: 100%;
  width:100%;
overflow-x:hidden; 


}
/*start payment section*/

.form-horizontal{
       position:relative;
        top: 4%;
        left: 0%;

        }
     

    .confirm{
       position:relative;
       top: 20%;
        left: 50%;
      }
      
      
    #check{
      position: relative;
      left: -12%;
      color:white;
      font-size: 20px;
      font-weight: bold;
      margin-left: 18%;
    }

    #date{
      position: absolute;
      top:200%;
      margin-left: 4.5%;
      
    }
    #cvv
    {
      color:white;
      position: absolute;
      top:160%;
      left:17%;
      width:90%;
    }
     #cvvText
    {
      color:white;
      font-size: 15px;
      position: absolute;
      top:0%;
      left:-20%;
    }
#cardNumber
{
  position:absolute;
  top:119%;
  width: 90%;
  left:2%;
  color: white; 
}
#cardName
{
  position:absolute;
  top:80%;
  width: 90%;
  left:2%;
  color: white; 
}

#btnConfirm
{
  position: absolute;
  top:78%;
  left:50%;
}
span
{
  font-size: 15px;
  font-weight: bold;
}

#mainPay
{
  overflow:hidden;
}

 /*end Payment section */
 /*Start Section Team*/
.team
{
height:95%;
background-color:white;
}
#teamText
{
  color:black;
  font-size: 30px;
  position: relative;
  top:5%;
}
#img1
{
  position: absolute;
  top:15%;
  left:35%;
 
}
#img2
{
  position: absolute;
  top:35%;
  left:28%;
 
}
#img3
{
  position: absolute;
  top:59%;
  left:28%;
 
}
#img4
{
  position: absolute;
  top:80%;
  left:34%;
 
}
#img5
{
  position: absolute;
  top:15%;
  left:52%;
}
#img6
{
  position: absolute;
  top:32%;
  left:61%;
}
#img7
{
  position: absolute;
  top:56%;
  left:61%;
}
#img8
{
  position: absolute;
  top:80%;
  left:54%;
 
}
#theText
{
  color:black;
  position: absolute;
  font-size: 30px;
  top:43%;
  left:44%;
}
#teamMEAN
{
  color:red;
  position: absolute;
  font-size: 30px;
  top:47%;
  left:44%;
}
#teamStack
{
  color:blue;
  position: absolute;
  font-size: 30px;
  top:47%;
  left:51%;
}
#teamBullies
{
  color:black;
  position: absolute;
  font-size: 30px;
  top:51%;
  left:51%;
}
#tagText
{
  color:white;
  position: absolute;
  top:20%;
  left:22%;
}
 /*End Section Team*/
 /*Start Section contact us*/
 .portfolio-item {
    margin-bottom: 25px;
}




#contactUsDiv
{

position: relative;
top:12%;
color:white;
}
.contactUs
{
position: relative;
top:5%;
left:10%;
color:#EEE;
}
#mainDIV
{
  height: 100%;
  width:100%;
  position: relative;
  top:-5%;
  left:-4%;
}


#get
{
  color:white;
  font-weight: bold;
}
/*End Section contact us*/
#aboveHeader
{
  background: rgb(17,37,60);
  width:80%;
  height: 20%;
  position: absolute;
  top:20%;
  left:10%;
   border-radius: 5px;
}

#scrollLeftBtn
{
    height:82.5%;
  width:5%;
  font-size: 50px;
  position: absolute;
  top:100%;
  background-color:rgb(17,37,60);
  left:-1%;
  border:none;
  opacity: 0.6;
  z-index: 1;
}
#scrollLeftBtn:hover
{

   background-color:rgba(2,2,2,0.9);
}
#scrollRightBtn
{
  height:82.5%;
  width:4%;
  position: absolute;
  font-size: 50px;
     top:100%;
  left:96%;
  border:none;
  background-color:rgb(17,37,60);
  opacity: 0.6;
  z-index: 1;
}
#scrollRightBtn:hover
{

   background-color:rgba(2,2,2,3);
}
/*Start Section Footer*/
  .footer{
      background-color: rgb(17,37,60);
      color:white;
      height:9%;
      
  }
  .footer .socialList
  {
    position:relative;
    top:30px;
    margin-left: -106.3%;

  }

  .footer .socialList li
  {
  
  opacity: 0.7;

  }
  .footer .socialList li:hover
  {

  opacity: 1;

  }
 
  .footer .socialList li img
  {

  width:30px;
  height:30px;
  float:left;
  }

  #footerText
  {
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    color:white;
    font-family: sans-serif;
    text-align: left;

  }
  .copyright {
    font-size: 13px;
    text-align: right;
    margin-right: 10px;
  }

  /*End Section Footer*/
#tag
{

      resize:none;
      overflow: hidden;
    background: rgb(17,37,60); 
      border-top: 1px solid #eee;
      color:white;
  }

  
