.offers h1{
margin-bottom: 40px;
}
.offers {
	
	padding-top: 90px;
	padding-bottom:20px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	 background : url(../images/paris2.jpg) no-repeat center center fixed;
  background-size: 100% 170%;
}
.offers .offer1{
	background-image:url(../images/JFK1.jpg) ;
	padding:20px;
	border:1px solid #DDD;
	height: 300px;
	width:350px;
	border:none;
	background-repeat: no-repeat;
	background-position: center bottom, center bottom;
	background-attachment: scroll;
	margin-bottom: 10px;
	margin-left:10px;
	margin-right: 10px;

}

.offers .offer1 h2{
	/*margin:5px 0 15px;*/
	margin-top: 0px;
	color:black;
	
}
.offers .offer1 p {
	font-size: 25px;
	font-weight:bold;
	color:info;
	margin-top: 60px;
	width:100px;
	height: 100px;
	background: white;
	border-radius: 50%;
	line-height: 100px;
	margin-top: 10px;


}
.offers .offer1 li{
	margin-top: 10px;
	color:black;
	font-size:20px; 
}
.offers .offer1 a{
	
	margin-bottom:5px;

}


.offers .offer2{
	background-image:url(../images/BCN1.jpg)  ;
	padding:20px;
	margin-left: 8%;
	border:1px solid #DDD;
	height: 300px;
	width:350px;
	border:none;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 20% 20%;
	background-attachment: scroll;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;


}
.offers .offer2 h2{
	margin:5px 0px 15px;
	margin-top: 0px;
	color:black;
	
}
.offers .offer2 p {
	font-size: 25px;
	font-weight:bold;
	color:info;
	margin-top: 60px;
	width:100px;
	height: 100px;
	background: white;
	border-radius: 50%;
	line-height: 100px;
	margin-top: 10px;
}

.offers .offer2 a{
	
	margin-bottom:5px;
}
.offers .offer2 li{
	margin-top: 10px;
	color:black;
	font-size:20px; 
}

.offers .offer3{
	background:url(../images/THF1.jpg)  ;
	margin-top: 0.5px;
	margin-left: 9%;
	padding:10px;
width:350px;
	border:none;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center bottom, center bottom;
	background-attachment: scroll;
	margin-left:10px;
    margin-right: 10px;
}
.offers .offer3 h2{
	/*margin:5px 0 15px;*/
	margin-top: 10px;
	color:black;
	}
.offers .offer3 p {
	font-size: 25px;
	font-weight:bold;
	color:info;
	margin-top: 60px;
	width:100px;
	height: 100px;
	background: white;
	border-radius: 50%;
	line-height: 100px;
	margin-top: 10px;
}

.offers .offer3 a{
	
	margin-bottom:5px;
}
.offers .offer3 li{
	margin-top: 10px;
	color:black;
	font-size:20px; 
}
.offers .offer4{
	background:url(../images/AHN1.jpg)  ;
	padding:10px;
	margin-top: -20px;
	margin-left: 15%;
	border:none;
	height: 325px;
	background-repeat: no-repeat;
	background-position: center bottom, center bottom;
	background-attachment: scroll;
	margin-right: 10px;
	margin-left: 5px;
}
.offers .offer4 h2{
	margin:5px 0px 15px;
	margin-top: 30px;
	color:black;
	
}
.offers .offer4 p {
	font-size: 25px;
	font-weight:bold;
	
	margin-top: 60px;
	width:100px;
	height: 100px;
	background: white;
	border-radius: 50%;
	line-height: 100px;
	margin-top: 10px;
}

.offers .offer4 a{
	
	margin-bottom:5px;
}
.offers .offer4 li{
	margin-top: 10px;
	color:black;
	font-size:20px; 
}

#offer2Text
{
	
	width:113.1%;
	height:180%;
	margin-left: -20px;
	margin-top: -20px;
	font-size: 40px;
	background-color: rgba(2,2,2,0.6);
	
	
}