.payhead {
  color:black;
}



#mainPay{
  margin: 0 auto;
  background: blue;
  min-height:100%;
  height:auto;
  width:80%;

}


.whole {

  min-height:100%
  height:auto;

}

.side{
  color:black;
}
