

  body {
    
    background:rgb(221,233,237);
  }
  .payhead {
    color:rgb(17,37,60);
    text-align: left;
    margin-left: -45%;
    
  }

  .radiobuttons{
    padding-left: 25%;
  }

  .rlabel {
    color:rgb(17,37,60);
  }


  #cardholder
  {
    position: absolute;
    top:80%;
    left:15%;
  }

  #cardnumber
  {
    position: absolute;
    top:80%;
    left:55%;
  }
  #CVV
  {
    position: absolute;
    top:140%;
    left:15%;
  }

  #expiry
  {
    position: absolute;
    top:140%;
    left:55%;

  }

  #paybutton {
    position: absolute;
    top:210%;
    left:40%;
  }

  #mc{
    
    margin-left: 130px;
  }

  #mainPay{
    border-radius: 5px;
    background-color: white;
    box-shadow: -10px -10px 40px grey;
    margin-top: 9%;
    margin-left: 30%;
    height:auto;
    width:64%;
    text-align:center;
    margin-bottom: -200%;
    min-height:100%;
    color:rgb(17,37,60);


  }

  #exyear {
  position: absolute;
    top:33%;
    left:95%;
    width:80%;
  }

  #expiryDate{
    width:80%;
  }

  .ilook{
    width:220px;
    padding: 10px;
    border: solid 5px rgb(17,37,60);
    transition: border 0.3s;
  }

  .ilook:focus,
  .ilook:focus {
    border: solid 5px red;
  }



  .plabel{
    text-align:left;
    padding-right: 5px;
      color:rgb(17,37,60);

  }

  .inputp{

    width:70%;
    margin: 0 auto;
    padding-right: 20%
  }


  .inputp h2{
      background: #4D4D4D;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #797979;
      font-size: 18px;
      font-weight: 100;
      padding: 20px;
      margin: -30px -30px 30px -30px;

  }
  .inputp input[type="text"],
  .inputp input[type="date"],
  .inputp input[type="datetime"],
  .inputp input[type="email"],
  .inputp input[type="number"],
  .inputp input[type="search"],
  .inputp input[type="time"],
  .inputp input[type="url"],
  .inputp input[type="password"],
  .inputp textarea,
  .inputp select 
  {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
          background-color:white;
          border-bottom-color: rgb(152,58,49);
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
     height:40px;
      width: 160px;
    -webkit-transition: border-bottom-color 0.5s ease-in-out;
    transition: border-bottom-color 0.5s ease-in-out;


  }
  .inputp textarea{
      resize:none;
      overflow: hidden;
     background: #eee;
      border-top: 1px solid #eee;
  }
  .inputp input[type="button"], 
  .inputp input[type="submit"]{
      -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      box-shadow: inset 0px 1px 0px 0px #45D6D6;
      border-bottom: 2px solid black;
      background-color: #2CBBBB;
      border: 1px solid #27A0A0;
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      padding: 8px 18px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .inputp input[type="button"]:hover, 
  .inputp input[type="submit"]:hover {
      background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
      background-color:#34CACA;
      border-bottom: 2px solid black;
  }

  .inputp input:focus
  {

      border-bottom-color: rgb(17,34,160);
  -webkit-transition: border-bottom-color 0.5s ease-in-out;
    transition: border-bottom-color 0.5s ease-in-out;
   

  }

  .pad{
    margin: 0 auto;
  margin-top: 100px;

  }

  .payButton {


      border: none;
      padding-left:10%;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: white;
      color: rgb(17,37,60);
      border: 2px solid rgb(17,37,60);
      border-radius: 9px;

  }

  .payButton:hover {
       background-color: rgb(17,37,60);
      color: rgb(152,58,49);
  }




  .side{
    color:black;
  }


  /*>>>>>>>>>RADIOBUTTON BEGIN<<<<<<<<<*/
  /* hide input */
  input.radio:empty {
    margin-left: -999px;
  }

  /* style label */
  input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.radio:empty ~ label:before {
    position: absolute;

    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
  }

  /* toggle hover */
  input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;

  }

  input.radio:hover:not(:checked) ~ label {
    color: #888;


  }

  /* toggle on */
  input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: rgb(152,58,49);
    background-color: rgb(17,37,60);
  }

  input.radio:checked ~ label {
    color: #777;


  }

  /*>>>>>>>>>RADIOBUTTON END<<<<<<<<<*/

  .styled-select {
     width: 240px;
     height: 34px;
     color:rgb(17,37,60);;
     overflow: hidden;
     background: rgb(235,235,235);
     border: 1px solid #ccc;
     }


  .sdate{
    width:48px;
  }

  .smonth{
    width:78px;
  }


  .syear{
    width:88px;
  }


  .header {
   /*margin-top:-2%;*/
   margin-top:-2.5%;
   height:100%;
   padding-top:1%;

   padding-left: 15%;
   text-align: left;
    background: rgb(17,37,60);
    color:white;
    padding-bottom: 2%; 
    font-family: 'Open Sans Condensed', arial, sans;
  }

#fixAnimation
{
  width:70%;
  height:100%;

    overflow: hidden;
  position: absolute;
  top:0%;
  left:1.5%;
  z-index: -100;
}

#partialDiv
{
    background-image: url(../icons/flights.png);
      background-repeat: no-repeat;
  width:40%;
  height:20%;
  position: fixed;
  top:40%;
  left:8%;
}
#partialDiv2
{
  background-image: url(../images/pw.png);
  background-repeat: no-repeat;

  width:50%;
  height:30%;
  position: fixed;
 
   top:60%;
  left:8%;

}
#partialDiv3
{
background-image: url(../images/paymentBig.png);
  background-repeat: no-repeat;
  width:40%;
  height:20%;
  position: fixed;
  top:79%;
  left:4%;

}