


.payhead {
  color:rgb(17,37,60);
  text-align: left;
  margin-left: -45%
}

.radiobuttons{
  margin-left: 36%;
}



#mc{
  padding-left: 20%;
}

#mainPay{
  background-color: rgb(235,235,235);
  box-shadow: 10px 10px 5px #888888;
  margin: 0 auto;
  min-height:100%;
  height:auto;
  width:60%;
  text-align:center;
  min-height:100%;
  color:rgb(17,37,60);


}

.ilook{
  width:220px;
  padding: 10px;
  border: solid 5px rgb(17,37,60);
  transition: border 0.3s;
}

.ilook:focus,
.ilook:focus {
  border: solid 5px red;
}



.plabel{
  text-align:right;
  padding-right: 5px;
    color:rgb(17,37,60);

}

.inputp{

  width:70%;
  margin: 0 auto;
  padding-right: 20%
}


.pad{
  margin: 0 auto;
margin-top: 100px;

}

.payButton {


    border: none;
    padding-left:10%;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: rgb(17,37,60);
    border: 2px solid rgb(17,37,60);
    border-radius: 9px;

}

.payButton:hover {
     background-color: rgb(17,37,60);
    color: red;
}




.side{
  color:black;
}


/*>>>>>>>>>RADIOBUTTON BEGIN<<<<<<<<<*/
/* hide input */
input.radio:empty {
  margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: red;
  background-color: rgb(17,37,60);
}

input.radio:checked ~ label {
  color: #777;
}

/*>>>>>>>>>RADIOBUTTON END<<<<<<<<<*/
