
<div id="timeTableSection"  ng-controller="bookingCtrl" class="viewflights bookbody">
  <div ng-controller="bookingCtrl"  data-ng-init="changeTable()"   >

    <br>
    <br>
    
    <br>
      
    
    <br>
    <br>
    <div ng-repeat="flight in arr | limitTo:2| orderBy:'date'">
    <table class="tx sp" >
     

      <thead>
        <tr class="sp1">  
        <th class="text-left sp1 spx" style=" font-size: 30px; color:white;">{{flight.originCity}}</th>
        <th class="text-left sp1 spx" style=" font-size: 30px; color:white;">--></th>
       <th  class="text-left sp1 spx" style=" font-size: 30px; color:white;">{{flight.destinationCity}}</th>
       <th  class="text-left sp1 spx" style=" font-size: 30px; color:white;"></th>
         
  




     </tr>

      <tr class="sp">  
        
         <th class="text-left sp">Origin</th>
         <th class="text-left sp">Destination</th>
         <th class="text-left sp">Price</th>
         <th  class="text-left sp1 spx" style=" font-size: 30px; color:white;"></th>
         




     </tr>


</thead>



<tr >  
 
   
    <td class="text-left sp"><div>{{flight.originIata}} <br> {{flight.date}}</div></td>
    <td class="text-left sp"><div>{{flight.destinationIata}}<br>{{flight.flightNumber.type}}</div></td>
    <td class="text-left sp"><div>500<br>$</div></td>
    <td class="text-left sp"><div class="chooseflight">  
        <input type="radio" name="radio" id={{$index}} class="radio"/>
        <label for={{$index}}>Choose</label>
                            </div></td>

</tr>

<tr >  
 
   
    <td class="text-left sp"><div>{{flight.originIata}} <br> {{flight.date}}</div></td>
    <td class="text-left sp"><div>{{flight.destinationIata}}<br>{{flight.flightNumber.type}}</div></td>
    <td class="text-left sp"><div>5001<br>$</div></td>
    <td class="text-left sp"><div class="chooseflight">  
        <input type="radio" name="radio" id="500" class="radio"/>
        <label for="500">Choose</label>
                            </div></td>

</tr>


</table>
<br>
<br>

<br>
<br>

</div>

</div>

</div>












 