<!DOCTYPE html> 
<html> 
<head> 

<title> Confirmation </title>
<!-- 
<meta charset = "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>    

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   
  <script src="./core2.js"></script>   
  <script src="./controllers/confirmationCtrl.js"></script> 
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->

</head>  

<style>  

.modal-content2 {
  
  position: fixed;
  top: -100%; left: 30%;
  outline: solid 0 rgba(0,0,0,.85);
  margin: -5em -10em; /* minus half the height and minus half the width */
  padding: .5em;
  width: 50em; height: 20em;
  opacity: 0;
  background: white; 
  animation: showup .8s .5s forwards;  
}
@keyframes showup { to { top: 30%; opacity: 1; outline-width: 500em; } }

.bg-1 { 
    background-color: #FFFFFF;
} 


h2 {
    position: relative;
    left: 15%;
    top: 2%;
}
#closeBtn
{
position: absolute;
left:92%;
top:2%;

} 
.head{  
  font-size: 16px;
  font-weight: bold;

} 
.head2{  
  font-size: 16px;
  font-weight: bold;

}
</style>
 <!--remove this div modal-content2-->
  
  

<div class="container-fluid bg-1" ng-app="confirmation" ng-controller="confirmationCtrl">

<!--this div should beinjected in <ng-view>--> 
 </br> 
 </br> 
 </br> 
 </br>    

<div class ="container"> 
  <h1> 
 <img src="./images/logo.jpg" alt="AirFrance logo" style="width:304px;height:180px;">
  Confirmation Receipt  
  </h1>  
        
  <p class="bg-success"> Your payment was triggered successfuly! Please check your email to know your booking reference-id. </p>  
  </br>
  </br>
</div> 

<div class = "container">   

    <div class = "head">
    <p> Find your reservation details below : </p>   
    </div>
    <div >  
    <ul class="list-group">
  <li class="list-group-item">Departure Date : {{booking.DepartureDate}}</li>
  <li class="list-group-item">Arrival Date : {{booking.ReturnDate}}</li>
  <li class="list-group-item">Origin : {{booking.from}}</li>  
  <li class="list-group-item">Destination : {{booking.To}}</li>
  <li class="list-group-item">Number Of Adults : {{booking.NumberOfAdults}}</li>
  <li class="list-group-item">Number Of Children : {{booking.NumberOfChildren}}</li>  
  <li class="list-group-item">Email : {{booking.Email}}</li> 
  <li class="list-group-item">Booking Ref-ID : {{bookId}}</li>

   </ul>
      <!--label>Date of Departure : {{booking.DepartureDate}}</label>
      <br>
      <label>Date of Arrival : {{booking.ReturnDate}}</label>
      <br>
      <label>From :{{booking.from}}</label>
      <br>
      <label>To :{{booking.To}}</label> 
      <br>
      <label>Number Of Adults : {{booking.NumberOfAdults}}</label>
      <br>
      <label>Number Of Children : {{booking.NumberOfChildren}}</label> 
      <br>
      <label>Email : {{booking.Email}}</label-->   
<div class = "head2">
    <p> Passenger/s Info : </p>   
    </div>
    <table class="table"> 
       <thread> 
           <tr> 
              <th>FirstName</th>  
              <th>secondName</th> 
              <th> age</th>
              <th>nationality </th>  
              <th>passportNumber</th> 
              <th>issueDate </th>
              <th> expiryDate</th>
            </tr>  
        </thread>  
         <tbody> 
              <tr ng-repeat="persons in personArray"> 
                <td>{{persons.firstName}}</td> 
                <td>{{persons.secondName}}</td>
                <td>{{persons.age}}</td>
                <td>{{persons.nationality}}</td>
                <td>{{persons.passportNumber}}</td>
                <td>{{persons.issueDate}}</td> 
                <td>{{persons.expiryDate}}</td>
                 
              </tr> 
            </tbody>
      </table> 

      </div>  

      </div>
  </br>
<div class = "container"> 
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Payment Details</button>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment</h4>
     </div>
      <div class="modal-body"> 
      <ul class="list-group">
  <!-- <li class="list-group-item">Payment Method :  <img ng-src="{{payments[0].PaymentMethod}}" style="width:70px;height:60px;">   -->

  </li>
  <li class="list-group-item">Card Number : {{payments.CardHolderNo}}</li>
  <li class="list-group-item">CVV : {{payments.Cvv}}</li> 
  <!-- <li class="list-group-item">Amount : {{payments.Amount}}</li> -->
  <li class="list-group-item">Issue Date : {{payments.ExpiryDate}}</li>  
  </ul> 
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Resend booking reference-id</button>



</div> 
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
  </div>
</div>           
          

         
</div> 
</html>
