  <!-- Start section contactUs -->
    <div id="contactUsDiv">
      <div class="container">

        <div class="contactUs"  >  
          <div class="col-lg-12">
            <h1 class="page-header" style="color:black;">Air France
              <small id="get">Get In Touch </small>
            </h1>
          </div>
        </div>
        <div class="container">
          <div class="row" >
            <div class="col-md-12">
            </div>
            <div >
            <form role="form"class="form-horizontal" style="text-align:center;">
              <div class="col-lg-6" style="margin-left: 22%;">

                <div >
                  <label for="firstName">Your First Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter your firstName" ng-model="firstName" required>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                  </div>
                  <div >

                      <label for="lastName">Your Last Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter your lastName" ng-model="lastName" required>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                  </div>
                  <div >

                    <label for="InputEmail">Your Email</label>
                    <div class="input-group">
                      <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" ng-model="email" required  >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <div >
                      <label for="InputMessage">Message</label>
                      <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" ng-model="message" required ></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                      </div>
                      <br>
                      <br>
                      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right" ng-click="submitContactForm">
                    </div>
                  </form>
                  </div>
                  <hr class="featurette-divider hidden-lg">

                </div>

              </div>

            </div> 
          </div>
    <!-- End Section Contact us -->          