
<div id="personalInfoDiv">

	<div id="firstNameDiv" >
	<div class="glyphicon glyphicon-user"></div>
	 <div id="firstNameText" class="hvr-underline-from-left">First Name</div>
	 <br>
	 <input	type="text" class="" id="firstName" >
	 </div>	
	 <div id="lastNameDiv">
	 	<div class="glyphicon glyphicon-user"></div>
	  <div id="lastNameText" class="hvr-underline-from-left">Last Name</div>
	  <br>
	 <input class=""type="text" id="lastName">
	  </div>	
	 <div id="ageDiv">
	 <div class="glyphicon glyphicon-gift"></div>
	  <div id="ageText" class="hvr-underline-from-left">Age</div>
	  <br>
	 <input	type="number" id="age">
	  </div>	
	 <div id="passportDiv">
	 <div class="glyphicon glyphicon-globe"></div>
	  <div id="passportText" class="hvr-underline-from-left">Nationality</div>
	  <br>
	 <input	type="text"  id="passport">
	  </div>	
	 <div id="issueDateDiv" class="input-group date">
	 <div class="glyphicon glyphicon-calendar"></div>
	  <div id="issueDateText" class="hvr-underline-from-left">Issue Date</div>
	  <br>
	 <input type="date" data-date-inline-picker="true" />
	  </div>	

	 <div id="expiryDateDiv">
	 <div class="glyphicon glyphicon-calendar"></div>
	  <div id="expiryDateText" class="hvr-underline-from-left">Expiry Date</div>
	  <br>
	 <input	type="date" id="expiryDate">
	 </div>	

</div>
