
<div id="personalInfoDiv">
  <div id="highlightAbove">
  	<h4>Your Information</h4>
  </div>
	<div id="firstNameDiv" >
	<div class="glyphicon glyphicon-user"></div>
	 <div id="firstNameText" class="hvr-underline-from-left">First Name</div>
	 <br>
	 <input	type="text" class="hvr-reveal" id="firstName" >
	 </div>	
	 <div id="lastNameDiv">
	 	<div class="glyphicon glyphicon-user"></div>
	  <div id="lastNameText" class="hvr-underline-from-left">Last Name</div>
	  <br>
	 <input	type="text" id="lastName">
	  </div>	
	 <div id="ageDiv">
	 <div class="glyphicon glyphicon-gift"></div>
	  <div id="ageText" class="hvr-underline-from-left">Age</div>
	  <br>
	 <input	type="number" id="age">
	  </div>	
	 <div id="passportDiv">
	 <div class="glyphicon glyphicon-globe"></div>
	  <div id="passportText" class="hvr-underline-from-left">Nationality</div>
	  <br>
	  
	 <input	type="text"  id="passport">
	  </div>	
	 <div id="issueDateDiv">
	 
	  <div class="col-sm-6" style="height:130px;">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker10'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
	  </div>	
	 <div id="expiryDateDiv">
	 <div class="glyphicon glyphicon-calendar"></div>
	  <div id="expiryDateText" class="hvr-underline-from-left">Expiry Date</div>
	  <br>
	 <input	type="text" id="expiryDate">
	 </div>	

</div>
