<link href='https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Montserrat' rel='stylesheet' type='text/css'>
<section id="team" class="team text-center ">
      <div id="data3" > 
        <div class="container cont2">

          <div class="row row2" >
            <h3 id="teamText">The Great Team</h3>
            <img id="img1" ng-click="tag()"class="img-circle wow fadeInLeft" data-wow-duration="0.5s" src="./images/tag.jpg" width="150" height="150">

            <h3 id="theText">The</h3>
            <h3 id="teamMEAN">MEAN</h3>
            <h3 id="teamStack">STACK</h3>
            <h3 id="teamBullies">Bullies</h3>
            <div id="tagText"ng-show="showTag">
              <h5>Omar Tag</h5>
              <p >Front-End Developer</p>
            </div>
            <img id="img2" class="img-circle wow fadeInLeft" data-wow-duration="1s" src="./images/nazih.jpg" width="150" height="150">
            <img id="img3" class="img-circle wow fadeInLeft" data-wow-duration="1.5"src="./images/ali.jpg" width="150" height="150">
            <img id="img4" class="img-circle wow fadeInLeft " data-wow-duration="2s"src="./images/nadin.jpg" width="150" height="150">
            <img id="img5" class="img-circle wow fadeInRight" data-wow-duration="0.5s"src="./images/hatem.jpg" width="150" height="150">
            <img id="img6" class="img-circle  wow fadeInRight" data-wow-duration="1s"src="./images/maha.jpg" width="150" height="150">
            <img id="img7" class="img-circle  wow fadeInRight" data-wow-duration="1.5s"src="./images/abozeed.jpg" width="150" height="150">
            <img id="img8" class="img-circle  wow fadeInRight" data-wow-duration="2s"src="./images/messiry.jpg" width="150" height="150">

          </div>
        </div>
      </div>
      
    </section>